<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/css/estiloEjercicio2.css">
    <title>Title</title>
</head>
<body>
<br>
<div>
    <form action="/ejercicio2" method="POST">
        <label for="nombre1">Nombre 1:</label>
        <input type="text" id="nombre1" name="nombre1" value = "{{nombre1}}" required>
        <br>
        <label for="nombre2">Nombre 2:</label>
        <input type="text" id="nombre2" name="nombre2" value = "{{nombre2}}" required>
        <br>
        <label for="nombre3">Nombre 3:</label>
        <input type="text" id="nombre3" name="nombre3" value = "{{nombre3}}" required>
        <br>
        <br>
        <button type="submit">Enviar</button>
    </form>
    {% if nombre%}
    <div class="resultado">
        <p> El nombre con mayor cantidad de caracteres es: {{nombre}}</p>
        <p> El nombre tiene : {{cantidad}} caracteres</p>
    </div>
    {% endif %}
</div>
</body>
</html>